.za-zenith-summary {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.za-zenith-summary__row {
    display: flex;
}

.za-zenith-summary__label {
    flex: 0 0 150px;
    color: var(--text-secondary);
}

.za-zenith-summary__value {
    flex: 1 1 auto;
    color: var(--text-primary);
}