<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= root%></title>
    </head>
    <body>
        <div id="checkmateContent" class="centerPane" style="top: 40px; left: 250px;">
            <div id="<%= root%>">
                <header class="geotabPageHeader">
                    <h1 class="geotabPageName"><%= root%> <span class="subdued">sub title</span></h1>
                    <div class="pageNameSecondary">
                        <h3 class="geotabSecondaryTitle">by: <span id="<%= root%>-user"></span></h3>
                    </div>
                </header>
                <!-- App here -->
            </div>
        </div>
    </body>
</html>