<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
</head>

<body>

  <div id="<%= root %>-app" <% if (isDriveAddin) { %>class="hidden"<% } %>>
    <% if (isDriveAddin) { %>
      <div id="<%= root%>" style="overflow: auto; height: 100%;font-size: 14px;">
        <div class="panel">
          <h2 class="panel__title"><%= root %></h2>
          <p>Driver: <span id="<%= root %>-driver"></span></p>
          <p>Vehicle: <span id="<%= root %>-vehicle"></span></p>
        </div>
      </div>
    <% } else if (isButton) { %>
      <div id="<%= root%>">
        <div class="checkmateFormPage">
            <div class="checkmateToolbarContainer">
            <span class="checkmateToolbar">
                <button class="geotabButton customButton noTranslate"><span class="icon" {icon}></span><%= root %></button>
            </div>
        </div>
      </div>
    <% } else { %>
      <div id="<%= root%>">
        <header class="geotabPageHeader">
          <h1 class="geotabPageName"><%= root %> <span class="subdued">subtitle</span></h1>
          <div class="pageNameSecondary">
            <h3 class="geotabSecondaryTitle">by: <span id="<%= root %>-user"></span></h3>
          </div>
        </header>
      </div>
    <% } %>
  </div>

</body>

</html>