<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <% if (!isButton) { %>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
  <% } else { %>
  <script src="{click}"></script>
  <% } %>
</head>

<body>

  <div id="<%= root %>" <% if (!isButton) { %>class="hidden"<% } %>>
    <% if (isDriveAddin) { %>
      <div class="panel">
        <h2 class="panel__title"><%= title %></h2>
        <p>Driver: <span id="<%= root %>-driver"></span></p>
        <p>Vehicle: <span id="<%= root %>-vehicle"></span></p>
      </div>
    <% } else if (isButton) { %>
      <div class="checkmateFormPage">
          <div class="checkmateToolbarContainer">
          <span class="checkmateToolbar">
              <button class="geotabButton customButton noTranslate"><span class="icon" {icon}></span><%= title %></button>
          </div>
      </div>
    <% } else { %>
        <header class="geotabPageHeader">
          <h1 class="geotabPageName"><%= title %> <span class="subdued">sub title</span></h1>
          <div class="pageNameSecondary">
            <h3 class="geotabSecondaryTitle">by: <span id="<%= root %>-user"></span></h3>
          </div>
        </header>
    <% } %>
  </div>

</body>

</html>
